/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.self-introduce {
  position: relative;
  max-width: 1077px;
  padding: 80px 40px;
  margin-left: 763px;
  background: #ffffff;
  margin-right: 80px;
  --margin-max: -160px;
  --margin-min: -100px;
  --margin-raguler: -44.2dvh;
  margin-top: clamp(var(--margin-min), var(--margin-raguler), var(--margin-max));
}

.self-introduce-text {
  padding-bottom: 16px;
  --font-max: 28px;
  --font-min: 18px;
  --font-regular: 1.45dvw;
  font-size: clamp(var(--font-min), var(--font-regular), var(--font-max));
}

.text-inlineblock {
  display: inline-block;
}

@media (max-width: 1200px) {
  .self-introduce {
    margin: 0 12px;
    max-width: 100%;
  }
  .self-introduce-text {
    --font-max: 56px;
    --font-min: 24px;
    --font-regular: 3.45dvw;
  }
  .text-inlineblock {
    display: block;
  }
}
@media (max-width: 576px) {
  .self-introduce {
    padding: 40px 24px;
  }
  .self-introduce-text {
    --font-max: 48px;
    --font-min: 20px;
    --font-regular: 3.45dvw;
  }
}
.home-body-wrap {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.home-body-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-left: 12px;
  margin-right: 12px;
  white-space: nowrap;
}
.home-body-title br {
  display: none;
}

@media (max-width: 1200px) {
  .home-body-title {
    font-size: 58px;
  }
}
@media (max-width: 576px) {
  .home-body-title {
    font-size: 48px;
    white-space: normal;
    word-break: keep-all;
    margin-bottom: 24px;
  }
  .home-body-title br {
    display: block;
  }
}
.serve-content {
  display: flex;
  justify-content: center;
  margin: 0 12px;
}
@media (max-width: 992px) {
  .serve-content {
    flex-direction: column;
    align-items: center;
  }
  .serve-content .serve-content-imgwrap {
    width: 90%;
  }
  .serve-content .serve-content-text-wrap {
    width: 90%;
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
}

.a-line {
  width: 30px;
  border: 1px solid #0027d5;
  margin: 18.75px 5px;
}

.serve-content-imgwrap {
  width: 636px;
}

.serve-content-img {
  width: 100%;
  background: gray;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.serve-content-text-wrap {
  position: relative;
  height: 210px;
  padding: 24px;
  max-width: 480px;
  margin-top: 55px;
  margin-left: -40px;
  background: #ffffff;
  z-index: 1;
}

.serve-content-text-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.reserve-serve-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
@media (max-width: 992px) {
  .reserve-serve-content {
    flex-direction: column;
    align-items: center;
  }
  .reserve-serve-content .serve-content-imgwrap {
    width: 90%;
  }
  .reserve-serve-content .reserve-serve-content-text-wrap {
    width: 90%;
    max-width: 100%;
    margin-top: 0px;
    margin-right: 0px;
  }
}

.reserve-serve-content-text-wrap {
  position: relative;
  height: 210px;
  padding: 24px;
  max-width: 480px;
  margin-top: 55px;
  margin-right: -40px;
  background: #ffffff;
  z-index: 1;
}

.contetn-grip {
  margin: 64px 0;
  margin-left: 12px;
  margin-right: 12px;
}
.contetn-grip a {
  display: block;
}
.contetn-grip a img {
  display: block;
}

@media (max-width: 375px) {
  .contetn-grip {
    margin: 32px 0;
  }
}
.contact-me {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 32px 12px;
}

.contact-me-btn {
  display: flex;
}
.contact-me-btn:visited {
  color: #000;
}

.contact-me-text {
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
}

@media (max-width: 379px) {
  .contact-me-btn {
    display: flex;
    flex-direction: column;
  }
  .contact-me-btn img {
    max-width: 13%;
    -o-object-fit: cover;
    object-fit: cover;
    align-self: flex-end;
  }
  .contact-me-text {
    margin-right: 0;
  }
}
.home-body-artical-wrap {
  max-width: 1432px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.home-body-artical-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-left: 68px;
}

@media (max-width: 1200px) {
  .home-body-artical-title {
    font-size: 58px;
  }
}
@media (max-width: 576px) {
  .home-body-artical-title {
    font-size: 48px;
    margin-left: 12px;
  }
}
.swiper-wrapper {
  justify-content: center;
  gap: 0 24px;
}

.main-content {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.img-box {
  background: #ededed;
  padding: 24px;
}
.img-box img {
  display: block;
  width: 100%;
  height: auto;
}

.text-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  padding: 29px 0;
}

.text-box-card {
  max-width: 526px;
  background: #ffffff;
  padding: 80px 40px;
  margin-left: -195px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-box-card-content {
  font-weight: bold;
}
.text-box-card-content span {
  color: #0027d5;
}

.text-box-card-bottom {
  max-width: 526px;
  background: #f5f5f5;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
  margin-top: -40px;
}

.reserve-rightnow-btn {
  color: #0027d5;
  border: 1px solid #0027d5;
  background: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.reserve-rightnow-btn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .img-box {
    margin: 0 12px;
    width: calc(100vw - 24px);
  }
  .text-box {
    padding: 0;
  }
  .text-box-card {
    max-width: 100%;
    padding: 58px 40px 40px 40px;
    margin-left: 0;
  }
  .text-box-card-bottom {
    max-width: 100%;
    padding: 58px 40px 40px 40px;
    margin-top: 0;
  }
}
.podcast {
  max-width: 1296px;
  margin: 0 auto;
  padding: 24px 12px;
  background: #f5f5f5;
  margin-bottom: 80px;
}

.podcast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.podcast-list-card {
  width: 294px;
  background: #f5f5f5;
}

.podcast-img {
  margin-bottom: 16px;
}
.podcast-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.podcast-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.podcast-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.podcast-text-checkedbox img {
  max-width: 100%;
  height: auto;
  display: block;
}

.podcast-line {
  border: 1px solid rgba(75, 75, 75, 0.431372549);
  margin: 16px 0;
}

.podcast-btn {
  color: #4b4b4b;
  border: 1px solid #4b4b4b;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.podcast-btn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 576px) {
  .podcast {
    margin-bottom: 64px;
  }
}
.banner {
  display: flex;
  margin-bottom: 80px;
  border-top: 1px solid #4B4B4B;
  border-bottom: 1px solid #4B4B4B;
}

.banner-img-wrap {
  flex: 1 1 50%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/index/a1.png);
  background-size: cover;
  background-position: center;
  padding: 0 80px;
}

.subscribe-newsletter {
  background-color: #ffffff;
  padding: 80px;
  max-width: 800px;
}
.subscribe-newsletter h3 {
  font-weight: bold;
  margin-bottom: 16px;
  --font-max: 64px;
  --font-min: 38px;
  --font-regular: 4dvw;
  font-size: clamp(var(--font-min), var(--font-regular), var(--font-max));
}
.subscribe-newsletter p {
  font-size: 20px;
  margin-bottom: 24px;
  --font-max: 20px;
  --font-min: 12px;
  --font-regular: 1.5dvw;
  font-size: clamp(var(--font-min), var(--font-regular), var(--font-max));
}
.subscribe-newsletter input {
  color: #4b4b4b;
}
.subscribe-newsletter span {
  color: #0027d5;
}

.subscribe-input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  background: #f1f1f1;
  font-size: 20px;
  border: 1px;
  padding: 8px 16px;
  line-height: 1.5;
}

.subscribe-btn {
  margin-top: 16px;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .subscribe-newsletter {
    padding: 56px;
  }
}
@media (max-width: 1024px) {
  .subscribe {
    padding: 0px 47px;
  }
  .subscribe-newsletter {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .subscribe {
    padding: 12px;
  }
  .subscribe-newsletter h3 {
    font-size: 48px;
  }
  .subscribe-newsletter p {
    font-size: 20px;
  }
}
.contact-link {
  margin-left: 12px;
  margin-right: 12px;
}

.contact-link-list {
  border-bottom: 1px solid #000;
  padding: 16px 0;
}
.contact-link-list:hover {
  transform: translate(2px, -2px);
}

.contact-link-list-btn {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  align-items: center;
  white-space: nowrap;
}
.contact-link-list-btn:visited {
  color: #000;
}
.contact-link-list-btn br {
  display: none;
}

.contact-link-list-underline-text {
  text-decoration: underline;
}

.contact-link-text-gap {
  margin-right: 8px;
}

.contact-link-list-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contact-link-list-btn-icon-text-wrap {
  display: flex;
  font-size: 28px;
}

@media (max-width: 510px) {
  .contact-link-list p {
    font-size: 24px;
  }
  .contact-link-list-btn {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .contact-link-list-btn br {
    display: block;
  }
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  background: #fbfbfb;
}

.head {
  text-align: center;
  display: flex;
  justify-content: center;
}

.head-nav {
  display: flex;
}

.head-nav-link {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  margin: 24px 20px;
}

.head-img {
  display: flex;
}

.head-slogan-imgwrap {
  width: 50%;
}

.head-left-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.head-right-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.blog-slogan-position {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slogan-text {
  margin-left: 80px;
  color: #0027d5;
}

.slogan-text-title {
  --font-max: 120px;
  --font-min: 60px;
  --font-regular: 6.25dvw;
  font-size: clamp(var(--font-min), var(--font-regular), var(--font-max));
  font-weight: 900;
}

.slogan-text-subtitle {
  --font-max: 28px;
  --font-min: 18px;
  --font-regular: 1.45dvw;
  font-size: clamp(var(--font-min), var(--font-regular), var(--font-max));
  font-weight: bold;
}

@media (max-width: 576px) {
  .head-img {
    flex-direction: column;
  }
  .head-slogan-imgwrap {
    width: 100%;
  }
  .blog-slogan-position {
    width: 100%;
  }
  .slogan-text {
    max-width: 314px;
    margin: 24px 24px 24px 36px;
  }
  .slogan-text-title {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 12px;
  }
}
@media (max-width: 375px) {
  .head-img {
    flex-direction: column;
  }
  .head-slogan-imgwrap {
    width: 100%;
  }
  .blog-slogan-position {
    width: 100%;
  }
  .slogan-text-title {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 12px;
  }
}
.latest-artical-section {
  display: flex;
  margin-bottom: 80px;
}

.latest-artical-imgwrap {
  width: 50%;
}

.latest-artical-img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 948px;
  height: 640px;
}

@media (max-width: 992px) {
  .latest-artical-section {
    margin-bottom: 64px;
    flex-direction: column;
    border-bottom: 2px solid gray;
  }
  .latest-artical-imgwrap {
    width: 100%;
  }
  .latest-artical-img {
    height: 375px;
    width: inherit;
  }
}
.latest-artical {
  width: 50%;
  padding-left: 24px;
  align-content: center;
  margin-right: 12px;
}

.latest-artical-content {
  max-width: 636px;
}

@media (max-width: 992px) {
  .latest-artical {
    width: 100%;
    padding: 48px 12px;
  }
  .latest-artical-content {
    max-width: inherit;
  }
}
.card-time {
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
}

.card-tag {
  display: flex;
}

.card-tag-text {
  font-size: 24px;
  font-weight: 500;
  margin-right: 5px;
  color: #0027d5;
}

.card-tag-bluepin {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background: #0027d5;
  border-radius: 40px;
  align-self: center;
  padding: 6px 12px;
  margin-left: 3px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  margin: 8px 0;
}

.card-text {
  color: #4b4b4b;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 500;
}

.card-navigation-button {
  display: flex;
  justify-content: space-between;
  margin-top: -252px;
  margin-right: 12px;
  margin-bottom: 252px;
}
.card-navigation-button img,
.card-navigation-button a {
  display: block;
}

@media (max-width: 1405px) {
  .card-navigation-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 24px;
  }
}
.btn {
  display: inline-block;
  color: #4b4b4b;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.body-wrap {
  margin: 0 auto;
  max-width: 1320px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .body-wrap {
    margin: 64px 0;
  }
}
.card-search-bar {
  display: flex;
  max-width: 416px;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  margin-left: 12px;
}

.material-symbols-outlined {
  position: absolute;
  left: 16px;
}

.card-search-bar-input {
  border: 1px solid #000;
  width: 100%;
  padding: 16px 0;
  border-radius: 40px;
  padding-left: 50px;
}

@media (max-width: 992px) {
  .card-search-bar {
    margin: 0 12px;
  }
}
.body-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px 24px;
  margin-right: 12px;
  margin-bottom: 40px;
  margin-left: 12px;
}

.card {
  max-width: 416px;
}
.card .card-top {
  margin-bottom: 16px;
}
.card .card-top .card-top-img {
  display: block;
  width: 100%;
  height: auto;
}

.justify-content-start {
  justify-content: start;
}

@media (max-width: 1320px) {
  .body-card-wrap {
    gap: 80px 35px;
  }
  .card {
    max-width: 48%;
  }
  .card-title {
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .swiper-three {
    display: none;
  }
}
@media (max-width: 992px) {
  .body-card-wrap {
    margin: 40px 12px 8px 12px;
  }
  .card {
    max-width: 100%;
  }
  .card .card-top {
    width: 100%;
  }
  .card .card-top .card-top-img {
    max-width: 100%;
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .swiper-two {
    display: none;
  }
}
@media (max-width: 576px) {
  .card .card-top .card-top-img {
    height: 280px;
  }
}
@media (max-width: 375px) {
  .card .card-top .card-top-img {
    height: 200px;
  }
}
.card-page-nav {
  max-width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 40px;
  background: #fff;
  padding: 8px 0;
}

.page-specified-num ul {
  display: flex;
}
.page-specified-num a:hover {
  color: #0027d5;
}

.page-btn {
  width: 40px;
  text-align: center;
}

.page-btn-num {
  display: block;
  padding: 8px 0;
}

.pre-next-page a {
  display: block;
  padding-top: 6px;
}

.company-info {
  display: flex;
  padding: 80px 312px;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.company-email {
  font-size: 32px;
}

.company-short-link {
  display: flex;
  align-items: center;
}
.company-short-link a {
  display: block;
}
.company-short-link img {
  display: block;
}

@media (max-width: 992px) {
  .company-info {
    display: none;
  }
}
.copyright {
  background: #ffffff;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid #4B4B4B;
}

@media (max-width: 992px) {
  .copyright {
    text-align: center;
    padding: 24px 40px;
  }
}/*# sourceMappingURL=all.css.map */