/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.self-introduce {
  position: relative;
  max-width: 1077px;
  padding: 80px 40px;
  margin-left: 763px;
  margin-top: -160px;
  background: #ffffff;
}

.self-introduce-text {
  font-size: 28px;
  padding-bottom: 16px;
}

.home-body-wrap {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.home-body-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 32px;
}

.serve-content {
  display: flex;
  justify-content: center;
}

.a-line {
  width: 30px;
  border: 1px solid #0027d5;
  margin: 18.75px 5px;
}

.serve-content-imgwrap {
  width: 636px;
}

.serve-content-img {
  width: 100%;
  background: gray;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.serve-content-text-wrap {
  position: relative;
  height: 210px;
  padding: 24px;
  max-width: 480px;
  margin-top: 55px;
  margin-left: -40px;
  background: #ffffff;
  z-index: 1;
}

.serve-content-text-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

.reserve-serve-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.reserve-serve-content-text-wrap {
  position: relative;
  height: 210px;
  padding: 24px;
  max-width: 480px;
  margin-top: 55px;
  margin-right: -40px;
  background: #ffffff;
  z-index: 1;
}

.contetn-grip {
  margin: 64px 0;
}
.contetn-grip a {
  display: block;
}
.contetn-grip a img {
  display: block;
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 32px 0;
}

.contact-me-text {
  font-weight: bold;
  font-size: 28px;
  margin-right: 8px;
}

.home-body-artical-wrap {
  max-width: 1432px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.home-body-artical-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-left: 68px;
}

.main-content {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.img-box {
  background: #ededed;
  padding: 24px;
}
.img-box img {
  display: block;
  width: 100%;
  height: auto;
}

.text-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  padding: 29px 0;
}

.text-box-card {
  max-width: 526px;
  background: #ffffff;
  padding: 80px 40px;
  margin-left: -195px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-box-card-content {
  font-weight: bold;
}
.text-box-card-content span {
  color: #0027d5;
}

.text-box-card-bottom {
  max-width: 526px;
  background: #f5f5f5;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
  margin-top: -40px;
}

.reserve-rightnow-btn {
  color: #0027d5;
  border: 1px solid #0027d5;
  background: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.reserve-rightnow-btn:hover {
  background-color: #000;
  color: #fff;
}

.podcast {
  display: flex;
  padding: 24px;
  background: #f5f5f5;
}

.podcast-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.podcast-list-card {
  width: 294px;
  background: #f5f5f5;
}

.podcast-img {
  margin-bottom: 16px;
}
.podcast-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.podcast-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.podcast-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.podcast-text-checkedbox img {
  max-width: 100%;
  height: auto;
  display: block;
}

.podcast-line {
  border: 1px solid rgba(75, 75, 75, 0.431372549);
  margin: 16px 0;
}

.podcast-btn {
  color: #4b4b4b;
  border: 1px solid #4b4b4b;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.podcast-btn:hover {
  background-color: #000;
  color: #fff;
}

.banner {
  display: flex;
  margin-bottom: 80px;
}

.banner-img-wrap {
  flex: 1 1 50%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/index/a1.png);
  background-size: cover;
  background-position: center;
  padding: 0 80px;
}

.subscribe-newsletter {
  background-color: #ffffff;
  padding: 80px;
  max-width: 800px;
}
.subscribe-newsletter h3 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 16px;
}
.subscribe-newsletter p {
  font-size: 20px;
  margin-bottom: 24px;
}
.subscribe-newsletter span {
  color: #0027d5;
}

.subscribe-input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  background: #f1f1f1;
  font-size: 20px;
  border: 1px;
  padding: 8px 16px;
}

.subscribe-btn {
  margin-top: 24px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background: #fbfbfb;
}

.head {
  text-align: center;
  display: flex;
  justify-content: center;
}

.head-nav {
  display: flex;
}

.head-nav-link {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  margin: 24px 20px;
}

.head-img {
  display: flex;
}

.head-slogan-imgwrap {
  width: 50%;
}

.head-left-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.head-right-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.blog-slogan-position {
  width: 50%;
}

.slogan-text {
  position: relative;
  margin-left: 80px;
  margin-top: -522px;
  z-index: 1;
  color: #0027d5;
}

.slogan-text-title {
  font-size: 120px;
  font-weight: 900;
}

.slogan-text-subtitle {
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .head-img {
    flex-direction: column;
  }
  .head-slogan-imgwrap {
    width: 100%;
  }
  .blog-slogan-position {
    width: 100%;
  }
  .slogan-text {
    max-width: 314px;
    margin: 24px;
    margin-top: -300px;
  }
  .slogan-text-title {
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 12px;
  }
}
.latest-artical-section {
  display: flex;
  margin-bottom: 80px;
}

.latest-artical-imgwrap {
  width: 50%;
}

.latest-artical-img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 948px;
  height: 640px;
}

@media (max-width: 992px) {
  .latest-artical-section {
    margin-bottom: 64px;
    flex-direction: column;
    border-bottom: 2px solid gray;
  }
  .latest-artical-imgwrap {
    width: 100%;
  }
  .latest-artical-img {
    height: 375px;
  }
}
.latest-artical {
  width: 50%;
  padding-left: 24px;
  align-content: center;
}

.latest-artical-content {
  max-width: 636px;
}

@media (max-width: 992px) {
  .latest-artical {
    width: 100%;
    padding: 48px 12px;
  }
  .latest-artical-content {
    max-width: 636px;
  }
}
.card-time {
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
}

.card-tag {
  display: flex;
}

.card-tag-text {
  font-size: 24px;
  font-weight: 500;
  margin-right: 5px;
  color: #0027d5;
}

.card-tag-bluepin {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background: #0027d5;
  border-radius: 40px;
  align-self: center;
  padding: 6px 12px;
  margin-left: 3px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  margin: 8px 0;
}

.card-text {
  color: #4b4b4b;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 500;
}

.btn {
  display: inline-block;
  color: #4b4b4b;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 40px;
  align-self: flex-start;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

.body-wrap {
  margin: 0 auto;
  max-width: 1296px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .body-wrap {
    margin: 64px 0;
  }
}
.card-search-bar {
  display: flex;
  max-width: 416px;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.material-symbols-outlined {
  position: absolute;
  left: 16px;
}

.card-search-bar-input {
  border: 1px solid #000;
  width: 100%;
  padding: 16px 0;
  border-radius: 40px;
  padding-left: 50px;
}

@media (max-width: 992px) {
  .card-search-bar {
    margin: 0 12px;
  }
}
.body-card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  margin-bottom: 40px;
  align-items: center;
}

.card {
  max-width: 416px;
}
.card .card-top {
  margin-bottom: 16px;
}
.card .card-top .card-top-img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .body-card-wrap {
    margin: 40px 0 8px 0;
  }
  .card .card-top {
    width: 100%;
  }
  .card .card-top .card-top-img {
    max-width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
.card-page-nav {
  max-width: 328px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 40px;
  background: #fff;
  padding: 8px 0;
}

.page-specified-num ul {
  display: flex;
}
.page-specified-num a:hover {
  color: #0027d5;
}

.page-btn {
  width: 40px;
  text-align: center;
}

.page-btn-num {
  display: block;
  padding: 8px 0;
}

.pre-next-page a {
  display: block;
  padding-top: 6px;
}

.company-info {
  display: flex;
  padding: 80px 312px;
  justify-content: space-between;
  border-top: 1px solid gray;
}

.company-email {
  font-size: 32px;
}

.company-short-link {
  display: flex;
  align-items: center;
}
.company-short-link a {
  display: block;
}
.company-short-link img {
  display: block;
}

@media (max-width: 992px) {
  .company-info {
    display: none;
  }
}
.copyright {
  background: #ffffff;
  text-align: center;
  padding: 24px 0;
}

@media (max-width: 992px) {
  .copyright {
    text-align: center;
    padding: 24px 40px;
  }
}/*# sourceMappingURL=all.css.map */